<input type="text" id="msg">
<button onclick="send()">Send</button>

<div id="chat"></div>

<script>
function send(){

let msg = document.getElementById("msg").value

fetch("/api/chatbot/chat/",{
method:"POST",
headers:{
"Content-Type":"application/json"
},
body:JSON.stringify({
message:msg
})
})
.then(res=>res.json())
.then(data=>{
document.getElementById("chat").innerHTML +=
"<p><b>You:</b>"+msg+"</p>"

document.getElementById("chat").innerHTML +=
"<p><b>Bot:</b>"+data.response+"</p>"
})
}
</script>